<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>GENIE</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css" />

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">

    <!-- fontawesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- owl-carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.css">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <script src="/assets/js/bootstrap.js" async defer></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <!-- navigation -->
    <main class="transition-fade" id="swup">
        <section id="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                <a class="navbar-brand mr-auto" href="/views/layouts/main.html">
                    <img src="/assets/img/logo2.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-uppercase" href="#top">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="/views/home/trackOrder.html">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#about-us">About us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#testimonials">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#sister-companies">Companies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#footer">Contact</a>
                        </li>

                        <div class="animation"></div>
                    </ul>
                    <!-- <form class="form-inline ml-auto">
                    <button class="btn btn-outline-success" type="button">Main button</button>
                    <button class="btn btn-outline-success" type="button">Main button</button>
                </form> -->
                </div>
            </nav>
        </section>

        <!-- banner section -->
        <section id="banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="/assets/img/—Pngtree—business handshake_758046.png" class="img-fluid" alt="" srcset="">
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative">
                            <h1 class="text-uppercase promo-title font-weight-bold">genie import export and services.</h1>
                            <p class="sub-text mb-0">We import your products safely!</p>
                            <a href="/views/home/gallery.html"><img src="/assets/img/google-play.png" class="play-btn">
                                <strong class="h5">Watch Latest Products</strong></a>
                            <!-- <button type="button" class="btn btn-primary">Track My Order</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <img src="/assets/img/slider-wave.png" class="img-fluid w-100 wave-1" alt="" srcset="">
        </section>


        <!-- services-section -->
        <section id="services">
            <div class="container text-center">
                <h1 class="text-uppercase index-title font-weight-bold">What we do?</h1>
                <div class="row text-center">
                    <div class="col-md-4 services">
                        <img src="/assets/img/services1.png" class="service-img" alt="" srcset="">
                        <h4 class="text-uppercase">consultancy</h4>
                        <p>S.K machineries is a Professional Import /export facilitators for China and Nepal. We have in-Depth...</p>
                        <a href="/views/home/services.html">Know More</a>
                    </div>
                    <div class="col-md-4 services">
                        <img src="/assets/img/services1.png" class="service-img" alt="" srcset="">
                        <h4 class="text-uppercase">import</h4>
                        <p>S.K machineries is a Professional Import /export facilitators for China and Nepal. We have in-Depth...</p>
                        <a href="services.html">Know More</a>
                    </div>
                    <div class="col-md-4 services">
                        <img src="/assets/img/services1.png" class="service-img" alt="" srcset="">
                        <h4 class="text-uppercase">export</h4>
                        <p>S.K machineries is a Professional Import /export facilitators for China and Nepal. We have in-Depth...</p>
                        <a href="services.html">Know More</a>
                    </div>
                </div>
                <!-- <div class="collapse" id="servicesCollapse">
                    <div class="row text-center">
                        <div class="col-md-4 services">
                            <img src="/assets/img/services1.png" class="service-img" alt="" srcset="">
                            <h4 class="text-uppercase">consultancy</h4>
                            <p>S.K machineries is a Professional Import /export facilitators for China and Nepal. We have in-Depth...</p>
                            <a href="services.html">Know More</a>

                        </div>
                        <div class="col-md-4 services">
                            <img src="/assets/img/services1.png" class="service-img" alt="" srcset="">
                            <h4 class="text-uppercase">import</h4>
                            <p>S.K machineries is a Professional Import /export facilitators for China and Nepal. We have in-Depth...</p>
                            <a href="services.html">Know More</a>
                        </div>
                        <div class="col-md-4 services">
                            <img src="/assets/img/services1.png" class="service-img" alt="" srcset="">
                            <h4 class="text-uppercase">export</h4>
                            <p>S.K machineries is a Professional Import /export facilitators for China and Nepal. We have in-Depth...</p>
                            <a href="services.html">Know More</a>
                        </div>
                    </div>
                </div>
                <br> -->
                <!-- <p>
                    <button class="btn btn-primary btn-expand-services" type="button" data-toggle="collapse" if="link" data-target="#servicesCollapse" aria-expanded="false" aria-controls="servicesCollapse">
                        <i class="fa fa-angle-down fa-fw"></i>VIEW MORE
                      </button>
                </p> -->
                <!-- <button type="button" class="btn btn-primary">All Services</button> -->

            </div>
        </section>

        <!-- workflow-section -->
        <section id="work-flow">
            <div class="container text-center">
                <h1 class="text-uppercase index-title font-weight-bold">How we work?</h1>
                <div class="row text-center">
                    <div class="col-md-4 container-card">
                        <!-- <span></span> -->
                        <div class="inner">
                            <span class="workflow-span"><img src="/assets/img/checkbox.png" alt="" class="workflow-img"></span>
                            <div class="inner-items">
                                <h1>Step:1</h1>
                                <p>Choose your products.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 container-card">
                        <!-- <span></span> -->
                        <div class="inner">
                            <span class="workflow-span"><img src="/assets/img/import.png" alt="" class="workflow-img"></span>
                            <div class="inner-items">
                                <h1>Step:2</h1>
                                <p>Make your orders with us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 container-card">
                        <!-- <span></span> -->
                        <div class="inner">
                            <span class="workflow-span"><img src="/assets/img/delivery.png" alt="" class="workflow-img"></span>
                            <div class="inner-items">
                                <h1>Step:3</h1>
                                <p>Get your orders delivered.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <!-- about-us -->
        <section id="about-us">
            <div class="container text-center">
                <h1 class="text-uppercase index-title font-weight-bold">Why choose us?</h1>
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-capitalize about-title text-center">why we're different?</p>
                        <ul class="text-left">
                            <li class="">SK Machineries Company is a professional Kathmandu based China Import Agent in Nepal.</li>
                            <li>It has rich involvement in import and Export of many items in 200+ enterprises.</li>
                            <li>We appreciate Export & Import china items with huge amounts of assortment.</li>
                            <li>We Source, inspect and procure the product of your choice for import from China.</li>
                            <li>Lastly, we safely deliver the product at your doorstep.</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <img src="/assets/img/about.png" class="w-100 img-fluid" alt="">
                    </div>
                </div>
                <a href="/views/home/aboutUs.html" class="btn btn-primary">Know More</a>
            </div>
        </section>

        <!-- testimonials -->
        <section id="testimonials">
            <div class="container text-center">
                <h1 class="text-uppercase index-title font-weight-bold  text-center">Testimonials</h1>
                <div class="row offset-1">
                    <div class="col-md-5 testimonials text-left">
                        <p>SK Machineries Company is a professional Kathmandu based China Import Agent in Nepal.</p>
                        <img src="/assets/img/—Pngtree—business handshake_758046.png" class="">
                        <p class="user-details"><b>Angelina</b><br>Co-founder at XYZ</p>
                    </div>
                    <div class="col-md-5 testimonials text-left">
                        <p>SK Machineries Company is a professional Kathmandu based China Import Agent in Nepal.</p>
                        <img src="/assets/img/—Pngtree—business handshake_758046.png" class="">
                        <p class="user-details"><b>Angelina</b><br>Co-founder at XYZ</p>
                    </div>
                </div>
                <br>
                <a href="/views/home/testimonialForm.html" class="btn btn-primary">Review Us</a>
            </div>

        </section>

        <!-- product-preview -->
        <section id="product-preview">
            <div class="container">
                <h1 class="text-uppercase index-title font-weight-bold  text-center">Latest Products</h1>
                <div class="owl-carousel owl-theme product-carousel">
                    <div class="item card">
                        <img src="/assets/img/item.jpg" class="img-fluid w-100" alt="" srcset="">
                        <div class="card-img-overlay mt-auto">
                            <h5 class="card-text">View Product</h5>
                        </div>
                    </div>
                    <div class="item card">
                        <img src="/assets/img/item-2.jpg" class="img-fluid w-100" alt="" srcset="">
                        <div class="card-img-overlay mt-auto">
                            <h5 class="card-text">View Product</h5>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/assets/img/item.jpg" class="img-fluid w-100" alt="" srcset="">
                    </div>
                    <div class="item">
                        <img src="/assets/img/item.jpg" class="img-fluid w-100" alt="" srcset="">
                    </div>
                    <div class="item">
                        <img src="/assets/img/item.jpg" class="img-fluid w-100" alt="" srcset="">
                    </div>
                    <div class="item">
                        <img src="/assets/img/item.jpg" class="img-fluid w-100" alt="" srcset="">
                    </div>
                    <div class="item">
                        <img src="/assets/img/item.jpg" class="img-fluid w-100" alt="" srcset="">
                    </div>
                    <div class="item">
                        <img src="/assets/img/item.jpg" class="img-fluid w-100" alt="" srcset="">
                    </div>
                    <div class="item">
                        <img src="/assets/img/item.jpg" class="img-fluid w-100" alt="" srcset="">
                    </div>
                    <div class="item">
                        <img src="/assets/img/item.jpg" class="img-fluid w-100" alt="" srcset="">
                    </div>
                    <div class="item">
                        <img src="/assets/img/item.jpg" class="img-fluid w-100" alt="" srcset="">
                    </div>
                    <div class="item">
                        <img src="/assets/img/item.jpg" class="img-fluid w-100" alt="" srcset="">
                    </div>
                </div>
            </div>
        </section>

        <!-- sister-companies -->
        <section id="sister-companies">
            <div class="container text-center">
                <h1 class="text-uppercase index-title font-weight-bold">Our Sister Companies</h1>
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="card companies">
                            <img src="/assets/img/services1.png" class="company-img w-100 img-fluid" alt="" srcset="">
                            <h4 class="text-uppercase">consultancy</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card companies">
                            <img src="/assets/img/services1.png" class="company-img w-100 img-fluid" alt="" srcset="">
                            <h4 class="text-uppercase">consultancy</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card companies">
                            <img src="/assets/img/services1.png" class="company-img w-100 img-fluid" alt="" srcset="">
                            <h4 class="text-uppercase">consultancy</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card companies">
                            <img src="/assets/img/services1.png" class="company-img w-100 img-fluid" alt="" srcset="">
                            <h4 class="text-uppercase">consultancy</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card companies">
                            <img src="/assets/img/services1.png" class="company-img w-100 img-fluid" alt="" srcset="">
                            <h4 class="text-uppercase">consultancy</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card companies">
                            <img src="/assets/img/services1.png" class="company-img w-100 img-fluid" alt="" srcset="">
                            <h4 class="text-uppercase">consultancy</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- social icons -->
        <section id="social-media">
            <div class="container text-center">
                <p class="text-uppercase">Find us on social media</p>
                <div class="social-icons">
                    <a href="#"><img src="/assets/img/facebook.png"></a>
                    <a href="#"><img src="/assets/img/youtube.png"></a>
                    <a href="#"><img src="/assets/img/twitter.png"></a>
                    <a href="#"><img src="/assets/img/instagram.png"></a>
                </div>
            </div>
        </section>

        <!-- footer -->
        <section id="footer">
            <img src="/assets/img/wave2.png" class="w-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-box">
                        <img src="/assets/img/logo1.png">
                        <p>SK Machineries Company is a professional Kathmandu based China Import Agent in Nepal.</p>
                    </div>
                    <div class="col-md-4 footer-box">
                        <p><b class="text-uppercase">contact us</b></p>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>Bishal Bazzar, Newroad, Kathmandu</p>
                        <p><i class="fa fa-phone"></i>+977 9801615369 / +977 9863642886
                        </p>
                        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> gieshub@gmail.com
                        </p>
                    </div>
                    <div class="col-md-4 footer-box">
                        <p><b class="text-uppercase">Subscribe to our newsletter!</b> </p>
                        <input type="email" name="email" id="" class="form-control" placeholder="Your Email">
                        <button type="button" class="btn btn-primary">Subscribe</button>
                    </div>
                </div>
                <hr>
                <p class="copyright">Site by <a href="www.team.aayusha.com.np" class="text-white font-weight-bold">SHEENYtech</a></p>
            </div>
        </section>
    </main>

    <!-- script file -->
    <script src="/assets/js/script.js"></script>

    <!-- smooth-scroll -->
    <script src="/assets/js/smooth-scroll.js"></script>

    <!-- owl-carousel -->
    <script src="/assets/js/owl.carousel.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


    <!-- swupjs -->
    <script src="https://cdn.jsdelivr.net/npm/swup@2.0.11/dist/swup.min.js"></script>


    <script>
        $('.product-carousel').owlCarousel({
            loop: true,
            margin: 20,
            responsiveClass: true,
            autoHeight: true,
            autoplay: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 5,
                    nav: true,
                    loop: false
                }
            }
        })
    </script>

    <script>
        var scroll = new SmoothScroll('a[href*="#"]');

        $(document).on('click', '.navbar ul li', function() {
            $(this).addClass('active').siblings().removeClass('active');
        })
    </script>



    <script>
        const swup = new Swup();
    </script>





</body>

</html>