<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>GENIE | About Us</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css" />

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">

    <!-- fontawesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- owl-carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.css">

    <!-- swupjs -->
    <script src="https://cdn.jsdelivr.net/npm/swup@2.0.11/dist/swup.min.js"></script>

</head>

<body>

    <main class="transition-fade" id="swup">

        <section id="aboutUs-page">
            <div class="about-section">
                <div class="inner-container">
                    <h1 class="text-uppercase">About Us</h1>
                    <h3 class="text-capitalize">Introduction</h3>
                    <p class="text">SK Machineries Company Pvt Ltd is a professional Kathmandu based China Import Agent in Nepal. that has rich involvement in import and Export of many items in 200+ enterprises, including material, clothing, footwear, gadgets, apparatus,
                        furniture, equipment, development material, chemicals and more. We appreciate Export & Import china items with huge amounts of assortment. We Source, inspect and procure the product of your choice for import from China and safely
                        deliver the product at your doorstep.</p>
                    <h3 class="text-capitalize">our vision</h3>
                    <p class="text">We take this opportunity to introduce ourselves as one of the fast progressing Govt. Approved Custom House Agent & Govt. approved International Forwarding Agent. Handling the clearance of Import Cargo at I.G.I Airport & I.C.D. (T.K.D
                        & P.P.G) Kathmandu as well as Freight Forwarding.</p>

                    <a href="/views/layouts/main.html" class="backlink-home"><i class="fa fa-angle-left fa-fw"></i>Back To Home</a>
                </div>
            </div>

        </section>
    </main>

    <script src="/assets/js/script.js"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


    <!-- bootstrap -->
    <script src="/assets/js/bootstrap.js" async defer></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- smooth-scroll -->
    <script src="/assets/js/smooth-scroll.js"></script>

    <!-- owl-carousel -->
    <script src="/assets/js/owl.carousel.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- amnisition -->
    <script src="/assets/js/animsition.min.js"></script>

</body>

</html>